.Wrap{}
.header {padding: 20px 0;}
.container {display: flex; align-items: center; width: 1200px; margin: 0 auto;}
.inner {width: 1200px; margin: 0 auto;}

.header h1 { width: 190px;}
.gnb>ul { display: flex; gap: 40px; }

.header .container { justify-content: space-between; }

.container .search { display: flex; align-items: center;}
.container .search i {padding: 5px;}

.mainVisual { position: relative; }
.mainVisual .inner { position: absolute; inset: 0 auto auto 50%; transform: translateX(-50%); height: 500px; z-index: 999; }
.mainVisual figure { background: url(../img/svisual01.jpg) no-repeat right center/cover; height: 500px; filter: brightness(0.8) saturate(1.3);}
.mainVisual h2 { position: absolute; inset: 50% auto auto 0; transform: translateY(-50%); letter-spacing: 30px; color: #fff; font-size: 60px; font-weight: 300; line-height: 1.25; z-index: 999;}
.mainVisual h2 strong {font-weight: 700;}

.brandStory { display: flex; padding: 100px 0; }
.brandStory .special { display: flex; flex-direction: column; justify-content: center; padding: 0 0 0 134px; }
.brandStory h2 { letter-spacing: 10px; font-size: 48px; font-weight: 500; }
.brandStory h2::after { content:""; display: block; width:120px; height: 3px; background: #c00000; margin: 20px 0 40px 0;}
.brandStory h3 { font-size: 17px; font-weight: 300; margin: 0 0 10px 0;}
.brandStory p { font-size: 17px; font-weight: 300;}

.menu { padding: 0 0 100px 0;}
.menu .menuTitle { position: relative; width: 100%; padding: 70px 0 0 0; }
.menu h2 { position: absolute; inset: auto auto -3px 50%; transform: translateX(-50%); font-size: 72px; font-weight: 900; color: #e6e6e6;}
.menu .line { width: 100%; height: 3px; background: #e6e6e6; }

.mainSlider figure { height: 600px;}
.mainSlider figure img {padding: 70px 0;}
.mainSlider figure.slick-current img { transform: scale(1.3); transition: 0.5s;}

.mainSlider figure .menuP { display: none;}
.mainSlider figure.slick-current .menuP { display: block;}

.menuP h3 { font-size: 30px; font-weight: 700; }

.menuP h3::after { content: ""; display: block; width: 50px; height: 3px; background: #c00000; margin: 20px 0; }

.menuP h4 { font-size: 24px; margin: 0 0 10px 0;}
.menuSlider { position: relative; }
.slideArrows i { position: absolute; inset: auto auto 10% 50%; transform: translateX(-50%); font-size: 48px; color: #9e0b0f;}

.slideArrows i:nth-child(1) { margin: 0 0 0 -350px;}
.slideArrows i:nth-child(2) { margin: 0 0 0 350px;}

.mainVideo { padding: 400px 0;}

.store { padding: 100px 0;}
.store .storeTitle { position: relative; width: 100%; padding: 70px 0 0 0; }
.store h2 { position: absolute; inset: auto auto -3px 50%; transform: translateX(-50%); font-size: 72px; font-weight: 900; color: #e6e6e6;}
.store .line { width: 100%; height: 3px; background: #e6e6e6; }


.franchise { position: relative; padding: 100px 0; background: url(../img/st-s02-bg.jpg) no-repeat center center/cover; color: #fff; overflow: hidden;}

.franchise h2 { font-size: 30px; font-weight: 500;}

.franchise h2::after { margin: 15px 0 45px 0; content: ""; display: block; background:#c00000; width: 100px; height: 3px;}

.franchise p {  margin: 0 0 100px 0; font-size: 16px; font-weight: 400; line-height: 1.2;}

.franchise .container {gap: 30px;}

.franchise .container a { display: inline-block; padding: 10px 60px 13px 60px; border: 1px solid #fff;}

.franchise img { position: absolute; inset: 0 0 auto auto;}

.footer { padding: 30px 0; background: #222;}