[submodule "js_train"]
	path = js_train
	url = https://github.com/peonyblue/javascriptBasic.git
[submodule "javascriptBasic"]
	path = javascriptBasic
	url = https://github.com/peonyblue/javascriptBasic
[submodule "responsiveWeb"]
	path = responsiveWeb
	url = https://github.com/peonyblue/responsiveWeb
[submodule "portfolio"]
	path = portfolio
	url = https://github.com/peonyblue/portfolio
