@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700;900&display=swap');
@import url('https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');

* {
    /* border: 1px solid red; */
}

body {
    /* 가독성이 홀수일 때 좋다. */
    background: #f7f7f7;
}

.header {
    line-height: 70px;
}

.header .container {
    display: flex;
    margin: 0 auto;
    width: 1200px;
    font-weight: 300;
    background: #fff;
}

.header h1 {
    padding: 0 30px;
}

.header .menu {
    margin: 0 0 0 auto;
}

.menu a {
    font-size: 20;
}

.menu ul li {
    padding: 3px 15px;
}

.menu ul li ::before {
    content: "";
    display: inline-block;
    /* block이 아니다. */
    width: 1px;
    height: 14px;
    background: rgb(169, 169, 169);
    margin: 0 5px;
    vertical-align: middle;
    /* !!!!!가상요소 선택자!!!!! */
    /* 웹 접근성에서 자유롭다. */
    /* 읽히지 않아서 꾸밈요소로 많이 쓴다. */
}

.menu ul li::after {
    content: "";
    display: inline-block;
    /* block이 아니다. */
    width: 1px;
    height: 14px;
    background: rgb(169, 169, 169);
    margin: 0 5px;
    vertical-align: middle;
    /* !!!!!가상요소 선택자!!!!! */
    /* 웹 접근성에서 자유롭다. */
    /* 읽히지 않아서 꾸밈요소로 많이 쓴다. */
}

.mbtn {
    display: none;
    position: fixed;
    top: 17.5px;
    right: 17.5px;
    font-size: 19px;
    padding: 7px;
    background: #ddd;
    line-height: 1;
    border-radius: 5px;
}

#event {
    padding: 100px 0;
    text-align: center;
}

#event h2 {
    font-size: 27px;
    font-weight: 700;
    margin: 0 0 10px 0;
}

#event h2::before {
    content: "";
    display: inline-block;
    /* block이 아니다. */
    width: 100px;
    height: 1px;
    background: #f00;
    margin: 0 10px;
    vertical-align: middle;
    /* !!!!!가상요소 선택자!!!!! */
    /* 웹 접근성에서 자유롭다. */
    /* 읽히지 않아서 꾸밈요소로 많이 쓴다. */
}

#event h2::after {
    content: "";
    display: inline-block;
    width: 100px;
    height: 1px;
    background: #f00;
    margin: 0 10px;
    vertical-align: middle;
    /* !!!!!가상요소 선택자!!!!! */
}

#event p {
    font-size: 15px;
    font-weight: 300;
    margin: 0 0 30px 0;
    line-height: 1.4;
}

#event .container {
    position: relative;
    display: flex;
    /* 가로로 세우기 */
    width: 1200px;
    /* 1200px 안에 */
    margin: 0 auto;
    /* 가운데에 위치시키기 */
    gap: 30px;
    /* 공간을 떨어뜨리기 */
    /* 보통 정해져있는 값이다. */
    /* IE에서는 호환되지 않음. */
}

#event figure {
    width: 1200px;
    height: 160px;
    padding: 70px;
    overflow: hidden;
    /* 부모에서 상속받은 값 1200px의 100% */
    transition: 0.5s;
}

#event figure:nth-child(1) {
    position: relative;
    /* !!!!자기자신을 기준으로 지정해줌!!!! */
    background: #ffc107;
    color: #333;

}

#event .container img {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 0.5s;

}

#event figure:nth-child(2) {
    position: relative;
    /* !!!!자기자신을 기준으로 지정해줌!!!! */
    background: #ECD2AE;
    color: #333;
}

#event figure:nth-child(3) {
    position: relative;
    /* !!!!자기자신을 기준으로 지정해줌!!!! */
    background: #B0A7FA;
    color: white;
}

#event figure:nth-child(4) {
    position: relative;
    /* !!!!자기자신을 기준으로 지정해줌!!!! */
    background: #3f51b5;
    color: white;
}

#event figure a {
    position: absolute;
    /* 기준을 안 정해주면 애미애비없음 쪼그라듬 */
    top: -40px;
    left: 0;
    padding: 10px 30px 30px 40px;
    height: 30px;
    background-color: rgba(88, 88, 88, 0.5);
    color: #fff;
    transition: 0.5s;
}

#event figure:hover img {
    opacity: 1;
}

#event figure:hover a {
    position: absolute;
    top: 0;
    left: 0;

}
.footer {
    line-height: 30px;
    text-align: center;
    font-weight: 300;
}


@media (max-width:768px) {

    .header .container {
        width: auto;
        line-height: 70px;
        position: relative;
        display: flex;
        margin: 0 auto;
        display: flex;
    }

    .header h1 {
        /* width: 768px; */
        margin: 0 auto;
    }

    .header ul>li {
        display: flex;
        position: absolute;
        flex-direction: column;
        background: #fff;
        width: 50vh;
        padding: 10px 10px;
        text-align: center;
        top: 0;
        left: -100%;
        transition: 0.5s
    }

    .header ul>li.on {
        left: 0;
    }

    .menu ul li ::before {
        content: "";
        display: none;

    }

    .menu ul li::after {
        content: "";
        display: none;


    }

    .mbtn {
        display: block;
    }

    #event .container {
        position: relative;
        margin: 0 0 0 auto;
        flex-direction: column;
        display: flex;

    }
    #event .container figure {
        position: absolute;  
        transform: translateX(15vw);
    }



    #event figure {
        width: 350px;
        height: 160px;
        padding: 70px;
        overflow: hidden;
        /* 부모에서 상속받은 값 1200px의 100% */
        transition: 0.5s;
    }

    #event figure:nth-child(1) {
        position: relative;
        /* !!!!자기자신을 기준으로 지정해줌!!!! */
        background: #ffc107;
        color: #333;

    }

    #event .container img {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: 0.5s;

    }

    #event figure:nth-child(2) {
        position: relative;
        /* !!!!자기자신을 기준으로 지정해줌!!!! */
        background: #ECD2AE;
        color: #333;
    }

    #event figure:nth-child(3) {
        position: relative;
        /* !!!!자기자신을 기준으로 지정해줌!!!! */
        background: #B0A7FA;
        color: white;
    }

    #event figure:nth-child(4) {
        position: relative;
        /* !!!!자기자신을 기준으로 지정해줌!!!! */
        background: #3f51b5;
        color: white;
    }

    #event figure a {
        position: absolute;
        /* 기준을 안 정해주면 애미애비없음 쪼그라듬 */
        top: -40px;
        left: 0;
        padding: 10px 30px 30px 40px;
        height: 30px;
        background-color: rgba(88, 88, 88, 0.5);
        color: #fff;
        transition: 0.5s;
    }

    #event figure:hover img {
        opacity: 1;
    }

    #event figure:hover a {
        position: absolute;
        top: 0;
        left: 0;

    }
}