@import url('https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');

.top_banner button::after {
    content: "close";
}

.top_banner.active button::after {
    content: "open";
}

.top_banner .container {
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    overflow: hidden;
    transition: 0.4s;
}

.top_banner.active .container {
    height: 0;
}

.top_banner.active i {
    transform: rotate(180deg);
}

.top_banner {
    position: relative;
    /* 기준 잡아주기 */
    background-color: rgb(255, 196, 217);
}
/* ***************************** */
.top_banner button {
    position: absolute;
    /* top_banner가 기준 */
    bottom: -20px;
    left: 50%;
    width: 100px;
    line-height: 20px;
    transform: translateX(-50%);
    /* 자기자신을 기준으로 움직인다. */
    margin-left: 550px;
    background-color: rgb(255, 196, 217);
    border: none;
    outline: none;
    cursor: pointer;
    /* 손가락모양 커서로 바뀌게 */
}
/* ****************************** */
.header {
    line-height: 100vh;
    /* 모바일 홈페이지에서 꽉 채우는 이미지 */
    background: rgb(36, 12, 12);
    color: #fff;
    text-align: center;
}

.right_banner {
    position: fixed;
    /* viewport가 기준! 스크롤바를 없앰 */
    /* position : absolute; */
    top: 50vh;
    right: -100px;
    background: rgb(255, 196, 217);
    transition: right .5s;
}

.right_banner.active {
    right: 0;
}

.sun  {
    position: absolute;
    top: 300px;
    right: 300px;
    width: 100px;
    height: 100px;
    background: #fff;
    border-radius: 50%;
    animation: sun_move 2s infinite linear;
}

.sun li {
    position: absolute;
    width: 20px;
    height: 4px;
    background: #fff;
    
}

.sun li:nth-child(1) {
    top: 48px;
    left: -40px;
}
.sun li:nth-child(2) {
    top: 48px;
    left: 120px;
}
.sun li:nth-child(3) {
    top: -20px;
    left: 36px;
    transform: rotate(90deg);
}
.sun li:nth-child(4) {
    top: 120px;
    left: 36px;
    transform: rotate(90deg);
}

@keyframes sun_move{
    to {transform: rotate(350deg);}
}

.car {
    position: fixed;
    bottom: 50px;
    right: 100px;
    width: 200px;
    height: 100px;
    background: rgb(255, 189, 212);
    border-radius: 50px 10px 0 0;
    animation: car_move 6s infinite linear;
}

.car li:nth-child(1) {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 40px;
    height: 50px;
    background: #fff;
    border-radius: 30px 0 0 0;
    
}

.car li:nth-child(2) {
    position: absolute;
    bottom: -15px;
    left: 20px;
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 10px;
    animation: wheel 1s infinite linear;
}
.car li:nth-child(3) {
    position: absolute;
    bottom: -15px;
    right: 20px;
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 10px;
    animation: wheel 1s infinite linear;
}

@keyframes wheel {
    to {
        transform: rotate(-360deg);
    }
}

@keyframes car_move {
    to {
        right: 2000px;
    }
}

.myheart {
    position: absolute;
    top: 250px;
    left: 250px;
    color: rgb(220, 53, 53);
    font-size: 50px;
    animation: heart 1s infinite linear;
}

@keyframes heart {
    to {
        transform: scale(3);
        opacity: 0;
    }
}