.gnb { position: fixed; inset: 50% 100px auto auto; transform: translateY(-50%); z-index: 999; } 

.gnb ul>li { width: 50px; } 

.gnb ul>li a { position: relative; display: block; height: 14px; font-size: 0; } 

.gnb ul>li a::after { content: ''; display: block; position: absolute; inset: 50% 0 auto auto; width: 50%; height: 1px; background: #333; transition: width 0.5s; } 

.gnb ul>li a.w::after { color: #fff; } 

.gnb ul>li.on a::after { width: 100%; } 

h1 {
    position: fixed;
    top: 80px;
    left: 80px;
    font-size: 50px;
    font-family: 'Amatic SC', cursive;
}

.coverBtn { position: fixed; top: 100px; right: 100px; z-index: 999; width: 36px; height: 36px; background: rgba(0, 0, 0, 0.2); color: #fff; font-size: 0; border-radius: 10px; } 

.coverBtn::before, .coverBtn::after { content: ""; position: absolute; right: 5px; left: 5px; height: 1px; background: #fff; } 

.coverBtn.on::before, .coverBtn.on::after {
    opacity: 0;
}

.coverBtn::before { top: 9px; } 
.coverBtn::after { bottom: 9px; } 

.coverBtn button::before, .coverBtn button::after { content: ""; position: absolute; top: calc(50% - 1px); right: 5px; left: 5px; height: 1px; background: #fff; transition: 0.5s; } 

.coverBtn.on button::before {
    transform: rotate(45deg);
}
.coverBtn.on button::after {
    transform: rotate(-45deg);
}

.coverBtn button { border: none; outline: none; background: transparent; padding: 0; } 

.section { font-size: 100px; opacity: 0; text-align: center; } 

.section.on { font-size: 80px; opacity: 1; transition: 0.5s; } 

.content { display: flex; width: 1400px; margin: 0 auto; gap: 100px; } 

.section .dec { display: flex; flex-direction: column; justify-content: center; transform: translateX(500px); opacity: 0; } 
.dec h2 { font-family: 'Amatic SC', cursive; margin: 0 0 10px 0; } 

.dec p { font-size: 17px; font-weight: 300; } 

.section .pic { transform: translateX(-500px); opacity: 0; } 

.section.on .dec { transform: translateX(0); opacity: 1; transition: 0.5s 0.5s } 
.section.on .pic { transform: translateX(0); opacity: 1; transition: 0.5s } 

.pf01 .pic { order: -1 } 

.pf02 { background: url(../img/wood.jpg) no-repeat fixed center center/cover; } 

.copyright { padding: 50px 0; color: #fff; background: #333; } 

.copyright .copy { width: 1400px; margin: 0 auto; } 

.footer .toTop { position: fixed; bottom: 100px; right: 100px; padding: 10px; background: rgba(0, 0, 0, 0.2); color: #fff; border-radius: 50%; z-index: 1000; }

.contact {
    position: fixed;
    bottom: 80px;
    left: 80px;
    width: 400px;
    font-family: 'Amatic SC', cursive;
    display: flex;
    font-size: 30px;
    cursor: pointer;
}

.contact .txt {
    width: 0;
    white-space: nowrap;
    overflow: hidden;
    transition: 0.5s;
}

.contact::before {
    font-family: xeicon;
    content: "\e91c";    
}
.contact.on::before {
    content: "\e921";
}

.contact.on .txt {
    width: 100%; 
}

.cover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    text-align: center;
}

.cover h3 {
    font-family: 'Amatic SC', cursive;
    font-size: 50px;
}

.cover.on {
    height: 100vh;
}

.cover.on ul {
font-size: 30px;
font-weight: 100;
}